*{
    margin: 0;
    padding: 0;
}
.body{
    width: 60%;
    min-width: 800px;
    margin: 0 20%;
    border: 1px solid #888;
    top: 0;
    bottom: 0;
    position: fixed;
    background: rgba(90, 164, 228, 0.205);
}
section{
    width: 250px;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(90, 164, 228);
    padding: 10px;
}
.me{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}
table{
    margin-bottom: 20px;
    color: white;
}
th{
    color: black;
    border-bottom: 2px solid rgba(2, 9, 31, 0.548);
    padding-right: 20px;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
    padding: 15px;
}
.social{
    width: 32px;
    height: 32px;
}
/* container */
.container{
    margin: 20px 0 0 300px; 
 }
 p{
     padding: 20px;
     line-height: 2em;
 }
 h4{
    color: rgb(90, 164, 228);
 }